<template>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>

            <tools-details :Parenttools="targetTools"></tools-details>

        </v-layout>
    </v-container>
</template>


<script>
    import toolsDetail from '../ui/scriptsDetail';
    export default {
        data() {
            return {
                targetTools: 0
            }
        },
        components: {
            'tools-details': toolsDetail
        },
        created: function(){
            this.targetTools = parseInt(this.$route.params.p);
        },
        watch: {
            $route() {
                this.targetTools = parseInt(this.$route.params.p);
            }
        }
    }
</script>