<template>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
            <v-flex xs12 class="main-tool-heading">
                <h2 class="feature-heading">{{productName}} Tools</h2>
            </v-flex>
            <v-flex v-for="(tools,index) in toolsData" :key="index" md4 class="listed-tools">
                <div v-if="tools.product_id == Parenttools">
                   
                    <v-btn v-if="isUnderFreeTrial && tools.free == 1" flat depressed title="Click To Download" download :href="'https://s3.us-east-2.amazonaws.com/eraofecom1/' + tools.file">
                        <img :src="'https://s3.us-east-2.amazonaws.com/eraofecom1/'+ tools.image" />
                        <p>{{tools.title}}</p>
                        <span class="white--text">Download Now</span>
                        
                    </v-btn>

                    <v-btn v-else-if="!isUnderFreeTrial" flat depressed title="Click To Download" download :href="'https://s3.us-east-2.amazonaws.com/eraofecom1/' + tools.file">
                        <img :src="'https://s3.us-east-2.amazonaws.com/eraofecom1/'+ tools.image" />
                        <p>{{tools.title}}</p>
                        <span class="white--text">Download Now</span>
                        
                    </v-btn>

                    <v-btn v-else flat depressed title="Unlock the tool" href="/settings#/subscription">
                        <img :src="'https://s3.us-east-2.amazonaws.com/eraofecom1/'+ tools.image" />
                        <p>{{tools.title}}</p>
                     
                        <span class="white--text">Unlock With All Access</span>
                        
                    </v-btn>


                </div>
            </v-flex>
        </v-layout>
    </v-container>
</template>


<script>

    //import toolsData from '../config/AllTools.json';

    // import toolsData from '../config/tools.json';
    
    export default {
        name: 'toolDetails',
        props: {
            Parenttools: {
                type: Number,
                required: true,
            }
        },
        data() {
            return {
                'toolsData': '',
                'productName': '',
                'isUnderFreeTrial' : false,
            }
        },
         methods: {
            getProductName: function(){

                //get the product name
                axios.get('/api/product/name/'+ this.Parenttools)
            
                .then(res => {
                    
                        this.productName = res.data
                  
                
                }) .catch(error => {
                       // alert(error)
                });

            },
            getProductTools: function(){
                
                this.UnderFreeTrail();


                axios.get('/api/all-tools/'+ this.Parenttools)
          
                .then(res => {
                    this.toolsData   = res.data;
            
                })


            },

            //is the user is under free trial which means he hasnt subcribed yet or has cancelled
            UnderFreeTrail: function() {
    
                axios.get('/api/is/under/free/trial')
    
                    .then(res => {
                        
                        this.isUnderFreeTrial = res.data;

                       

                    })
                    .catch(error => {});
    
            },
        },
        
        mounted() {
            
            this.Parenttools = parseInt(this.$route.params.p);

            this.getProductTools();
            
            //this.Parenttools = parseInt(this.$route.params.p);

            this.getProductName();
        },
        watch:{
            $route() { // on route change, fetch the data again
                
                this.Parenttools = parseInt(this.$route.params.p);

                this.getProductTools();
                
                this.getProductName();
            }   
        }
    }
</script>