// body{
//     //background: url(../img/checkout-bg.jpg) no-repeat;
//     //background-color: #000 !important;
//     background:url('https://s3.us-east-2.amazonaws.com/greljedi/checkout-bg.jpg') no-repeat;
//     background-size: cover;
//     background-attachment: fixed;
// }
// .py-4{
//     margin-top: 3%;
// }

h1{
  text-align: center;
  color: #fff;
  margin-top: 22px;
  margin-bottom: 50px;
  text-transform: capitalize;
}
.nav-link span{
  padding-right: 10px;
  font-weight: normal;
}
.card-body form button{width: 100%}
.course-include td{
  padding-top: 0 !important;
  border: none;
  padding-right: 0 !important;
  display: block;
  max-width: 100%;
  width: 100%;
  font-size: 14px;    
}

.card .table th, .card .table td {
  padding: 8px 12px;
}
.total-ammount td{
  padding-bottom: 0 !important;
}
table tr{
  display: inline;
}
@media(max-width:640px){
  .navbar-brand{
      margin: 0 auto;
      display: block;        
  }
  .navbar-brand img{
      width: 100%;
      margin: 0 auto;
      display: block;        
  }
  .navbar .container{display: block;}
  .navbar .navbar-toggler{
      display: block;        
      float: right;        
  }
}

@font-face {
  font-family: 'ProximaNovaThin';
  src: url('fonts/proximanova/ProximaNova-Thin.eot?#iefix') format('embedded-opentype'),
  url('fonts/proximanova/ProximaNova-Thin.otf')  format('opentype'),
  url('/fonts/ProximaNova/ProximaNova-Thin.woff') format('woff'),
  url('/fonts/ProximaNova/ProximaNova-Thin.ttf')  format('truetype'),
  url('/fonts/ProximaNova/ProximaNova-Thin.svg#ProximaNova-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('fonts/proximanova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/proximanova/ProximaNova-Regular.otf')  format('opentype'),
  url('fonts/proximanova/ProximaNova-Regular.woff') format('woff'),
  url('fonts/proximanova/ProximaNova-Regular.ttf')  format('truetype'),
  url('/fonts/proximanova/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url('fonts/proximanova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('fonts/proximanova/ProximaNova-Semibold.otf')  format('opentype'),
  url('fonts/proximanova/ProximaNova-Semibold.woff') format('woff'),
  url('fonts/proximanova/ProximaNova-Semibold.ttf')  format('truetype'),
  url('/fonts/proximanova/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url('fonts/proximanova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/proximanova/ProximaNova-Bold.otf')  format('opentype'),
  url('fonts/proximanova/ProximaNova-Bold.woff') format('woff'),
  url('fonts/proximanova/ProximaNova-Bold.ttf')  format('truetype'),
  url('/fonts/proximanova/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaExtrabold';
  src: url('fonts/proximanova/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
  url('fonts/proximanova/ProximaNova-Extrabld.woff') format('woff'),
  url('fonts/proximanova/ProximaNova-Extrabld.ttf')  format('truetype'),
  url('/fonts/proximanova/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
  font-weight: normal;
  font-style: normal;
}

.grel-offer-checkout .card{
  width: 100%;
  border-radius: 0;
  border: none;
}
.grel-offer-checkout .card-header,
.custom-checkout-section .main-head-top{
  background-color: #f18903;
  border-radius: 0;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  line-height: 60px;
  border: none;
  font-family: ProximaNovaRegular;
  padding: 6px 10px;
}
.grel-offer-checkout .card-body,.custom-checkout-section{
  box-shadow: 0 0 10px 1px #ccc;
  padding: 0;
}
.custom-checkout-section .card-body,
.custom-checkout-section table{background-color: white;}
.custom-checkout-section table tbody{
  padding: 0 15px;    
  display: block;
}
.custom-checkout-section .card .table td{border: none}
.custom-checkout-section .col-lg-12{padding: 0}
.custom-checkout-section .card.card-default{
  margin-bottom: 0;
  border-radius: 0;
}
// .step1{
//     max-width: 845px;
//     margin: 0 auto;
//     padding: 60px 0;
// }
.step1 h2,.custom-checkout-section .main-step-1{
  color: #5b5b5b;
  font-size: 20px;
  font-family: proximanovasemibold;
  margin: 0;
  position: relative;
  padding:7px 0 7px 62px;
}
.step1 h2.main-step-1:before,.custom-checkout-section .main-step-1:before {
  content: '';
  display: block;
  background: url('../images/one.png') no-repeat;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: -4px;
}
.step-2-offer h2.main-step-1:before{
  background: url('../images/two.png') no-repeat;
}
.step-3-offer h2.main-step-1:before{
  background: url('../images/3.png') no-repeat;
}
// .step1 form{
//     padding: 25px 0;
// }
.step1 form label{
  color: #5b5b5b;
  font-size: 18px;
  font-family: proximanovaregular;
  line-height: 34px;
  text-align: left;
  display: block;
}
.step1 form .type-text{
  border-radius: 0;
  height: 50px;
  background-color: #f9f9f9;
  border-color: #e0e0e0;
  font-size: 16px;
  font-family: proximanovaregular;
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
}
.pro-billing{
  padding-top: 28px;
}
.pro-billing h2{
  margin-bottom: 10px;
}
.step1 p{
  font-size: 16px;
  font-family: proximanovaregular;
  line-height: 24px;
}
.step1 .form-check label{
  font-size: 21px;
  color: #5b5b5b;
  font-family: proximanovasemibold;
  line-height: 52px;
}
.monthly-free{width: 100%}
.monthly-free .single-free:nth-child(1){width: 30%;float: left}
.monthly-free .single-free:nth-child(2){width: 52%;float: left}

.checkcontainer{
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 0 30px 0 55px;
  border-radius: 7px;
}
.checkcontainer:hover{
  background-color: #d1f1ff;
}
.checkcontainer input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkcontainer .radiobtn{
  position: absolute;
  top: 13px;
  left: 13px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid #a9a9a9;
  transition: all 0.3s ease-in-out;
}
.checkcontainer input:checked ~ .radiobtn {
  background-color: #27a8e0;
  border: none;
}
.checkcontainer span.radiobtn:after {
  top: 5px;
  left: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
  content: "";
  position: absolute;
  display: none;
}
.checkcontainer input:checked ~ .radiobtn:after {
  display: block;
}
.step1 .two-month-free{
  font-size: 14px;
  font-family: proximanovabold;
  background-color: #067bae;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 13px;
  border-radius: 8px;
  margin-left: 10px;
}
.have-promo{
  width: 100%;
  padding-top: 15px;
}
.have-promo .type-text{
  max-width: 280px;
  height: 39px !important;
  margin: 0 22px;
}
.have-promo .promo-cta{
  font-size: 11px;
  font-family: proximanovaregular;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: #a3a3a3;
  padding: 9px 8px;
  border-radius: 7px;
  cursor: pointer;
}
.step-2-offer .card-details{
  margin: 35px 0;
}
.submit-form-grel{
  width: 100%;
  display: block;
  color: #fff;
  background-color: #00c029;
  border: none;
  padding: 8px 0 9px;
  font-size: 21px;
  line-height: 36px;
  text-transform: uppercase;
  font-family: proximanovaregular;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  max-width: 500px;
  margin: 0 auto;
}
.submit-form-grel:hover{
  background-color: #029e23;
}
.footer-offer-checkout{
  padding: 30px 0 0;
  width: 100%;
}
.footer-offer-checkout p{
  text-align: center;
  font-size: 13px;
  color: #2e2e2e;
}
.footer-offer-checkout img{
  margin: 0 auto 50px;
  display: block;
}
.footer-offer-checkout p span{display: block}
.single-element{margin-bottom: 10px}

#card-element{width:100%}
.terms-cond label{
  display: block;
  width: 100%;
  padding-left: 23px;
  font-size: 16px !important;
}
.plan-portion-grel{
  background: #fff;
  position: relative;
  padding-bottom: 15px;
  .free-badge{
      display: inline;
      float: left;
      padding: 7px 9px;
      margin-top: 9px;
      position: absolute;
      left: 32%;
      top: 0;
  }
}





/*Media Queries*/

@media(min-width:992px) and (max-width:1199px){
  .step1 h2.main-step-1:before{left: 0px;}
  .step1{padding: 45px 0;}
  .plan-portion-grel .free-badge{left: 37%;}
}
@media (min-width:768px) and (max-width:991px) {
  .grel-offer-checkout .card-header{
      font-size: 18px;
      line-height: 42px;
      padding: 5px 10px;
  }
  .step1{
      padding: 35px 0;
  }
  h2.main-step-1 {
      padding-left: 62px;
      padding-top: 4px;
  }
  .step1 h2.main-step-1:before{left: 0}
  .step1 h2{
      font-size: 18px;
      margin-bottom: 25px;
  }
  .step1 form {
      padding: 10px 0;
  }
  .step1 form label{
      font-size: 16px;
      line-height: 28px;
  }
  .step1 form .type-text{height: 42px;}
  .pro-billing {
      padding-top: 20px;
  }
  .step1 .form-check label{
      font-size: 16px;
      line-height: 47px
  }
  .monthly-free .single-free:nth-child(2){
      width: 55%;
  }
  .step-2-offer {
      padding-top: 51px;
  }
  .step-2-offer .card-details {
      margin: 19px 0;
  }
  .submit-form-grel{
      padding: 10px 0 9px;
      font-size: 18px;
      line-height: 33px;
  }
  .footer-offer-checkout {
      padding: 20px 0 0;
  }
  .footer-offer-checkout img {
      margin: 0 auto 28px;
  }
  .plan-portion-grel .free-badge{left: 50%;}
}



@media(max-width:767px){
  .grel-offer-checkout{padding: 25px 14px !important;}
  .grel-offer-checkout .card-header{
      font-size: 16px;
      line-height: 24px;
      padding: 12px 10px;
  }
  .step1{
      padding: 40px 0 0;
  }
  h2.main-step-1 {
      padding-left: 60px;
  }
  .step1 h2.main-step-1:before{
      left: 0;
      top: -2px;
  }
  .step1 h2{
      font-size: 18px;
      margin-bottom: 15px;
  }
  .step1 form {
      padding: 15px 0;
  }
  .step1 form label{
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 0;
  }
  .step1 form .type-text{
      height: 37px;
      font-size: 14px;
  }
  .pro-billing {
      padding-top: 25px;
  }
  .pro-billing h2 {
      margin-bottom: 5px;
  }
  .step1 p{
      font-size: 12px;
      line-height: 18px;
  }
  .monthly-free .single-free,
  .form-inline .form-check{width: 100% !important}
  .step1 .form-check label{
      font-size: 14px;
      line-height: 26px;
      padding: 3px 13px 3px 44px;
      margin: 0 10px 3px;
  }
  .checkcontainer .radiobtn{
      top: 4px;
      left: 10px;
      height: 22px;
      width: 22px;
  }
  .checkcontainer span.radiobtn:after{
      top: 5px;
      left: 5px;
      width: 12px;
      height: 12px;
  }
  .step1 .two-month-free{
      font-size: 10px;
      padding: 7px 9px;
      border-radius: 8px;
      margin-left: 0;
      text-align: center;
      font-family: proximanovaregular;
  }
  .have-promo{
      padding-top: 15px;
  }
  .have-promo .type-text{
      max-width: none;
      margin: 0;
      width: 65% !important;
      float: left;
      height: 35px !important;
  }
  .have-promo .promo-cta{
      float: left;
      width: 30%;
      margin-left: 10px;
      font-size: 10px;
      padding: 9px 6px;
      border-radius: 5px;
  }
  .step-2-offer {
      padding-top: 35px;
  }
  h2.main-step-1 {
      padding-left: 35px;
  }
  .step-2-offer .card-details {
      margin: 20px 0;
  }
  .step-2-offer .card-details {
      margin: 20px 0 10px;
  }
  .submit-form-grel{
      padding: 8px 0 8px;
      font-size: 16px;
      line-height: 28px;
  }
  .footer-offer-checkout {
      padding: 18px 0 0;
  }
  .footer-offer-checkout p{
      font-size: 11px;
      margin-bottom: 10px;
  }
  .footer-offer-checkout img{margin: 0 auto 15px;}
  .have-promo label{width: 100%}
  .step1 h2.main-step-1:before{
      background: url(../images/one-small.png) no-repeat;
  }
  .step-2-offer h2.main-step-1:before{
      background: url(../images/two-small.png) no-repeat;
  }
  @media(min-width:481px) and(max-width:767px){
      .plan-portion-grel .free-badge{
          left: auto;
          right: 0;
      }
  }
  @media (max-width:480px){
      .plan-portion-grel .free-badge{
          position: static;
          margin: 0 28px;
          display: inline-block;
      }        
  }
}